body {font-size:100%;}

h1{ 

	font-family: Aller;
	font-weight: Bold; 
	font-size:6em;
	color: White;
	text-align:center;
	

	}
#foot {

	width:1em;
	height:1em;
	}
	

    
h2 {
	font-family: Pacifico;
	font-weight: Bold; 
	font-size:2em;
	color#8C8984;
	text-align:center;
	}


a:link {text-decoration:none;
		color: #005B9A;}

a:visited {
		color: #005B9A;
		}
a:hover {
		color:white;
		
		}

a:active {
		color: white;}
		

	
table {
        color: rgb(75,163,225);
        text-align: center;
        letter-spacing: 0.15em;
 		font-family: Aller;
		font-weight: Bold; 
		font-size:1.5em;
		table-layout: 100%;
    	width: 80%;
    }
    
#sarah {

		width:20%;
		height:20%;
		border-radius: 40px;
		}

	
	
